@charset "utf-8";

.margin{width:1226px;margin:0 auto;} 

#louceng{position: fixed;left: 50%;top: 30%;margin-left: -800px;z-index: 100;}
#louceng ul{border: 1px solid #e0e0e0;}
#louceng ul li{height:70px;width:60px;font:12px/70px "";color:#333;text-align: center;background:rgb(224,224,224,.2);}
#louceng ul li:hover{background:orangered;color:#fff;}


#header {width: 100%;height: 40px;background-color: #333;position:relative;}
#header .h-l li{float: left;line-height: 40px;margin-right: 32px;}
#header .h-l li a{text-decoration: none;color: #b0b0b0;font-size: 14px;}
#header .h-l li a:hover{color: orangered;}
#header .h-l li .erweima{width: 120px;height: 122px;background-color: white;position: absolute;text-align: center;line-height: 20px;display: none;z-index: 2000;}
#header .h-l li:hover .erweima{display: block;}

#header .h-g{margin-left: 16px;position: relative;float:right;}
#header .h-g dt{width: 120px;height: 40px;line-height: 40px;text-align: center;position: relative;background-color: #ff3600;}
#header .h-g dt a{color: #fff;font-weight: 500;font-size: 16px;}

#header .h-r{float:right;}
#header .h-r ul{list-style: none;}
#header .h-r ul li{float:left;line-height: 40px;text-align: center;width: 81px;}
#header .h-r ul li.phone{width: 100px;margin-left: 10px;padding-left: 27px;text-align: left;}
#header .h-r ul li a{text-decoration:none;color: #b0b0b0;font-size: 14px;}
#header .h-r ul li a:hover{color: orangered;}



#header-top{background:#67b68e;width:100%;height:100px;}
#header-top .margin{position: relative;}
#header-top .logo{position:relative;padding: 30px 0 12px 0;}
#header-top .logo a{position: absolute;width:190px;max-height:90px;top:22px;overflow: hidden;}

#header-top .sousuo{margin:-15px 95px 0 227px;}
#header-top .sousuo form .s{width:488px;height:36px;position: absolute;}
#header-top .sousuo form span{display: inline-block;width:55px;height:36px;background-color:#fff;position: absolute;right:510px;top:28px;
background:url("images/1.png") no-repeat;background-position: center center;border-left:1px solid #ccc;cursor: pointer}
#header-top .sousuo form span:hover{background-color:#ff3600;}

#header-top .sousuo .baicha{position: absolute;top:70px;}
#header-top .sousuo .baicha a{margin-right:20px;color:rgba(225, 225, 225, 1);}
#header-top .sousuo .baicha a:hover{color:yellow;}

#header-top .baojia{position:absolute;right:150px;}
#header-top .baojia ul{}
#header-top .baojia ul li{float:left;}
#header-top .baojia ul li p{width: 53px;word-break: break-all;word-wrap: break-word;font-size: 12px;margin-left: 32px;color: rgba(255, 255, 255, 0.6)}

#header-top .er{position:absolute;right:30px;top:15px;}
#header-top .er img{display: block;width:60px;}
#header-top .er span{color: rgba(255, 255, 255, 0.6);font-size: 12px;margin-left: -6px;}

#header-b{background:#67b68e;width:100%;height:60px;}
#header-b .margin{position: relative;}
#header-b .quanbu{width: 234px;float: left;margin-right: 12px;}
#header-b .quanbu .shangping{color: #fffa00;display: block;line-height: 60px;font-size: 16px;background: url(images/4.png);
padding-left: 28px;background-repeat: no-repeat;background-position: 0 center;cursor: pointer;}
#header-b .quanbu .xuancha{padding:24px 20px 14px;width:194px;height:36px;background-color:rgb(48,56,53)}
#header-b .quanbu .xuancha span{float: left;width: 62px;height: 20px;background:url(images/one.png) no-repeat;
background-repeat: no-repeat;background-position: 0 center;color: rgb(187, 168, 168);line-height: 20px;font-size: 12px;text-align: center;margin-top: 4px;}
#header-b .quanbu .xuancha .zhushou{float:left;width:130px;} 
#header-b .quanbu .xuancha .zhushou a{float:left;color:#b0b0b0;font-size:12px;margin-left:5px;width:60px;line-height:1.5;}

#header-b .quanbu .xuancha-b{background:#353e3b;}
#header-b .quanbu .xuancha-b dl dt{font:26px/64px "";color:#fff;text-align: center;position: relative;}
#header-b .quanbu .xuancha-b:hover .xuancha-c{display: block;}
#header-b .quanbu .xuancha-b .xuancha-c{z-index: 2;background:rgba(225,225,225,.8);height:460px;width:234px;position: absolute;left:234px;top:59px;display:none;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan{overflow: hidden;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .wulong{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .hongcha{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .lucha{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .heicha{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .baicha{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan .huacha{float: left;height: 60px;margin-bottom:15px;}
#header-b .quanbu .xuancha-b .xuancha-c .xuan  a{display: block;font:12px/24px "";color:rgb(85, 82, 78);float: left;margin:10px 20px 0 10px;;}
#header-b .quanbu .xuancha-b .xuancha-c:hover{display: block;}
#header-b .quanbu .xuancha-b .xuancha-r{z-index: 3;height:460px;width:234px;position: absolute;left:468px;top:59px;display: none;}

#header-b ul li{float: left;line-height: 60px;margin-right: 50px;}
#header-b ul li a{color: #fff;font-size: 14px}
#header-b ul li a:hover{color: #fffa00;}

#banner{width: 100%;height: 458px;}
#banner .margin{width: 1226px;margin: 0 auto;position: relative;}
#banner .top-left{width: 340px;height: 805px;position: absolute;left: -346px;top: 0px;}
#banner .top-left a img{display:block;}

/* #banner .top-box{width:992px;height: 458px;position: relative;margin: 0 auto;overflow: hidden;}
#banner .top-box .tupian{width:992px;height: 458px;}
#banner .top-box .tupian .imgbox img{width:992px;height: 458px;position: absolute;left: 992px;top:0;}
#banner .top-box .tupian .imgbox img:nth-child(1){left: 0;} */


#banner .top-box{width: 992px;height: 458px;overflow: hidden;position: absolute;left:234px;top:0;}
#banner .top-box .tupian{width:992px;height:460px;overflow: hidden;height: 100%;z-index: 0;position: relative;}
#banner .top-box img{width: 992px;height: 460px;position: absolute;top: 0;left:992px;}
#banner .top-box img:nth-child(1){left:0;top:0;}

#banner .top-box input{position: absolute;width:40px;height:40px;border: none;background: rgba(200,200,200,0.1);top:230px;z-index: 99999999;}
#left{left:0}
#right{right:0;}

#banner .top-right{width: 355px;height: 805px;position: absolute;left: 1226px;top: 0px;}
#banner .top-right a img{display:block;}

.banner-top{}
.banner-top .xuancha{height:168px;width: 1226px;margin: 0 auto;position: relative;padding: 14px 0 40px;background:url(images/banner.jpg) no-repeat;background-size:100%;}
.banner-top .xuancha a{float: left;margin-right:9px;}
.banner-top .xuancha a img{display:block;}

#tea{height:740px;background:#f5f5f5;}
#tea .margin{width: 1226px;margin: 0 auto;position: relative;}
#tea h3{padding: 20px 0 19px;color: #333;font-size: 22px}
#tea .content{}
#tea .content .content-l{margin-left:0;float: left;width:234px;}
#tea .content .content-l .hao{display:block;height:486px;position: relative;margin-bottom:14px;}
#tea .content .content-l .zhushou{display:block;height: 153px;background-color: #fff;position: relative;transition: all .3s;}
#tea .content .content-l .zhushou h3{color:#333;font-size:18px;padding:42px 0 9px 22px;}
#tea .content .content-l .zhushou p{color: #757575;font-size: 12px;padding: 0 84px 5px 22px;overflow: hidden;white-space: nowrap;}
#tea .content .content-l .zhushou img{position: absolute;right: 24px;top: 55px;display: block;}

#tea .content .content-c{width: 745px;float: left;margin-left: 14px;}
#tea .content .content-c a{display:block;width:234px;height:320px;padding:28px 37px;
box-sizing: border-box;position:relative;background-color:#fff;float:left;margin-right:14px;text-decoration: none;color: #b0b0b0;font-size: 14px;}
#tea .content .content-c a:nth-child(4){margin-right: 14px;margin-top: 14px;}
#tea .content .content-c a:nth-child(5){margin-right: 14px;margin-top: 14px;}
#tea .content .content-c a:nth-child(6){margin-right: 14px;margin-top: 14px;}
#tea .content .content-c .img{width:160px;height:160px;overflow: hidden;position: relative;}
#tea .content .content-c .img img{display:block;max-width: 100%;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;}
#tea .content .content-c .l{margin-top: 16px;width: 100%;font-size: 14px;color: #333;line-height: 1.5;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height: 39px;text-align: left;}
#tea .content .content-c .c{width: 100%;margin-top: 9px;color: #b0b0b0;font-size: 12px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-height: 12px;line-height: 12px;}
#tea .content .content-c .b{width: 100%;margin-top: 14px;font-size: 14px;color: #c00000;text-align: center;line-height: 14px;}

#tea .content .content-r{float: left;width: 150px;margin-left: 14px;}
#tea .content .content-r .ziying{width: 234px;height: 486px;background-color: #fff;position: relative;box-sizing: border-box;}
#tea .content .content-r .ziying .guanjun{display: block;padding: 17px 0 15px;color: #333;font-size: 16px;border-bottom: 1px solid #e0e0e0;width: 194px;margin: 0 auto;}

#tea .content .content-r .ziying .shijie a{display:block;padding:9px 20px;}
#tea .content .content-r .ziying .shijie a p{display: block;color: #555;font-size: 14px;width: 100%;margin-bottom: 15px;}
#tea .content .content-r .ziying .shijie a div img{float: left;width: 50px;height: 50px;margin-top: 2px;display:block}
#tea .content .content-r .ziying .shijie a div p{float: left;width: 132px;line-height: 18px;color: #b0b0b0;font-size: 12px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;margin-left: 10px;max-height: 53px;}

#tea .content .content-r .liulan{display:block;height: 153px;width:234px;background-color: #fff;position: relative;transition: all .3s;margin-top:15px;}
#tea .content .content-r .liulan h3{color:#333;font-size:18px;padding:42px 0 9px 22px;}
#tea .content .content-r .liulan p{color: #757575;font-size: 12px;padding: 0 84px 5px 22px;overflow: hidden;white-space: nowrap;}
#tea .content .content-r .liulan img{position: absolute;right: 24px;top: 55px;display: block;}

#teaset{background:#f5f5f5;height:750px;}
#teaset .margin{width: 1226px;margin: 0 auto;position: relative;}
#teaset h3{padding: 40px 0 19px;color: #333;font-size: 22px;}
#teaset .tea-set .tea-set-l{float: left;width: 234px;}
#teaset .tea-set .tea-set-l a{display:block;margin-bottom:14px}

#teaset .tea-set .tea-set-r{float:left;margin-left:14px;width:978px;display: flex;flex-wrap: wrap;}
#teaset .tea-set .tea-set-r a{width: 230px;height: 320px;padding: 28px 37px;display: block;box-sizing: border-box;position: relative;background-color: #fff;float: left;margin-right: 14px;margin-bottom:14px;}
#teaset .tea-set .tea-set-r a .img{width: 160px;height: 160px;overflow: hidden;position: relative;}
#teaset .tea-set .tea-set-r a .img img{display:block;max-width: 100%;position: absolute;margin: auto;left: 0;top: 0;right: 0;bottom: 0;}
#teaset .tea-set .tea-set-r a .t{margin-top: 16px;width: 100%;font-size: 14px;color: #333;line-height: 1.5;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height: 39px;text-align: left;}
#teaset .tea-set .tea-set-r a .c{width: 100%;margin-top: 9px;color: #b0b0b0;font-size: 12px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-height: 12px;line-height: 12px;}
#teaset .tea-set .tea-set-r a .b{width: 100%;margin-top: 14px;font-size: 14px;color: #c00000;text-align: center;line-height: 14px;}


#footer{background-color: #fff;}
#footer .margin{width: 1226px;margin: 0 auto;position: relative;height:300px}
#footer .footer-t{padding: 30px 0 20px;border-bottom: 1px solid #e0e0e0;}
#footer .footer-t ul{overflow: hidden;}
#footer .footer-t ul li{float:left;padding: 0 20px 0 82px;height: 32px;line-height: 32px;background:url(images/3.png) no-repeat 0 -135px;}
#footer .footer-t ul li.te{border-left: 1px solid #e0e0e0;}
#footer .footer-t ul li:nth-child(1){background:url(images/3.png) no-repeat 40px -135px;}
#footer .footer-t ul li:nth-child(2){background:url(images/3.png) no-repeat 40px -188px;}
#footer .footer-t ul li:nth-child(3){background:url(images/3.png) no-repeat 40px -240px;}
#footer .footer-t ul li:nth-child(4){background:url(images/3.png) no-repeat 40px -289px;}
#footer .footer-t ul li:nth-child(5){background:url(images/3.png) no-repeat 40px -34px;}
#footer .footer-t ul li:nth-child(6){background:url(images/3.png) no-repeat 40px -84px;}
#footer .footer-t ul li span{padding-left:10px;}
#footer .footer-t ul li.te{border-left: 1px solid #e0e0e0;}

#footer .footer-b{padding:40px 0;}
#footer .footer-b dl{float:left;width:137px;height:145px;margin:0}
#footer .footer-b dl dt{margin: 0 0 25px;font-size: 14px;line-height: 1.25;color: #424242;}
#footer .footer-b dl dd{margin:13px 0 0;font-size: 12px;}
#footer .footer-b dl dd a{color: #757575;}
#footer .footer-b dl dd a:hover{color: #ff3600;}

#footer .footer-b .kefu{float: left;width: 227px;height: 145px;border-left: 1px solid #e0e0e0;text-align: center;color: #616161;}
#footer .footer-b .kefu .tel{margin: 0 0 5px;font-size: 24px;line-height: 1;color: #ff3600;}
#footer .footer-b .kefu p{margin: 0 0 16px;font-size: 12px;}
#footer .footer-b .kefu a{display: inline-block;width: 118px;height: 28px;font-size: 12px;line-height: 28px;padding: 0;margin-top: 52px;text-align: center;border: 1px solid #ff3600;background: #fff;color: #ff3600;transition: all .4s;}
#footer .footer-b .kefu a:hover{background: #ff3600;color: #fff;}

#footer .footer-b .ma{float: right;width: 175px;height: 145px;border-left: 1px solid #e0e0e0;text-align: center;color: #757575;font-size: 15px;}
#footer .footer-b .ma img{width: 120px;height: 122px;margin: auto;}

#footer-bottom{width: 100%;background-color: #333333;padding: 30px 0;font-size: 12px;}
#footer-bottom .margin-b{width: 1226px;margin: 0 auto;position: relative;height:80px;}
#footer-bottom .footer-b{}
#footer-bottom .footer-b .logo{float: left;color: #b0b0b0;}
#footer-bottom .footer-b .guanyu{padding-left: 10px;float: left;color: #b0b0b0;}
#footer-bottom .footer-b .guanyu ul li{float:left;margin:5px 0;}
#footer-bottom .footer-b .guanyu ul li a{padding:0 15px;color: #b0b0b0;font-size: 12px;}
#footer-bottom .footer-b .guanyu .c{margin:5px 0 ;color: #b0b0b0;font-size: 12px;}
#footer-bottom .footer-b .guanyu .b{color: #b0b0b0;font-size: 12px;}
#footer-bottom .footer-b .guanyu .b span{margin-right: 20px;}
#footer-bottom .footer-b .pingcha{margin: 18px 50px 18px 50px;float: left;color: #b0b0b0;}
#footer-bottom .footer-b .pingcha img{display:block;}






























































































